<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>secondHandShop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>com.gem.erhuo.web.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListUserServlet</display-name>
    <servlet-name>ListUserServlet</servlet-name>
    <servlet-class>com.gem.erhuo.web.ListUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUserServlet</servlet-name>
    <url-pattern>/ListUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>com.gem.erhuo.web.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.gem.erhuo.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListGoodsServlet</display-name>
    <servlet-name>ListGoodsServlet</servlet-name>
    <servlet-class>com.gem.erhuo.web.ListGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListGoodsServlet</servlet-name>
    <url-pattern>/ListGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.gem.erhuo.web.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>MyFilter</display-name>
    <filter-name>MyFilter</filter-name>
    <filter-class>com.gem.erhuo.util.MyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MyFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AddressListServlet</display-name>
    <servlet-name>AddressListServlet</servlet-name>
    <servlet-class>com.gem.erhuo.web.AddressListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressListServlet</servlet-name>
    <url-pattern>/AddressListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListMarketsServlet</display-name>
    <servlet-name>ListMarketsServlet</servlet-name>
    <servlet-class>com.gem.erhuo.web.ListMarketsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListMarketsServlet</servlet-name>
    <url-pattern>/ListMarketsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddGoodServlet</display-name>
    <servlet-name>AddGoodServlet</servlet-name>
    <servlet-class>com.gem.erhuo.web.AddGoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGoodServlet</servlet-name>
    <url-pattern>/AddGoodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetGoodsImagesServlet</display-name>
    <servlet-name>GetGoodsImagesServlet</servlet-name>
    <servlet-class>com.gem.erhuo.web.GetGoodsImagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetGoodsImagesServlet</servlet-name>
    <url-pattern>/GetGoodsImagesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddGoodOrderServlet</display-name>
    <servlet-name>AddGoodOrderServlet</servlet-name>
    <servlet-class>com.gem.erhuo.web.AddGoodOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGoodOrderServlet</servlet-name>
    <url-pattern>/AddGoodOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddGoodsReportsServlet</display-name>
    <servlet-name>AddGoodsReportsServlet</servlet-name>
    <servlet-class>com.gem.erhuo.web.AddGoodsReportsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGoodsReportsServlet</servlet-name>
    <url-pattern>/AddGoodsReportsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassificationServlet</display-name>
    <servlet-name>ClassificationServlet</servlet-name>
    <servlet-class>com.gem.erhuo.web.ClassificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassificationServlet</servlet-name>
    <url-pattern>/ClassificationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCollectionsServlet</display-name>
    <servlet-name>AddCollectionsServlet</servlet-name>
    <servlet-class>com.gem.erhuo.web.AddCollectionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCollectionsServlet</servlet-name>
    <url-pattern>/AddCollectionsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCollectionsServlet</display-name>
    <servlet-name>DeleteCollectionsServlet</servlet-name>
    <servlet-class>com.gem.erhuo.web.DeleteCollectionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCollectionsServlet</servlet-name>
    <url-pattern>/DeleteCollectionsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UserAddressServlet</display-name>
    <servlet-name>UserAddressServlet</servlet-name>
    <servlet-class>com.gem.erhuo.web.UserAddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAddressServlet</servlet-name>
    <url-pattern>/UserAddressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DonationRequestServlet</display-name>
    <servlet-name>DonationRequestServlet</servlet-name>
    <servlet-class>com.gem.erhuo.web.DonationRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DonationRequestServlet</servlet-name>
    <url-pattern>/DonationRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelpsServlet</display-name>
    <servlet-name>HelpsServlet</servlet-name>
    <servlet-class>com.gem.erhuo.web.HelpsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelpsServlet</servlet-name>
    <url-pattern>/HelpsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.gem.erhuo.web.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInformationServlet</display-name>
    <servlet-name>UserInformationServlet</servlet-name>
    <servlet-class>com.gem.erhuo.web.UserInformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInformationServlet</servlet-name>
    <url-pattern>/UserInformationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CanRegisterServlet</display-name>
    <servlet-name>CanRegisterServlet</servlet-name>
    <servlet-class>com.gem.erhuo.web.CanRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CanRegisterServlet</servlet-name>
    <url-pattern>/CanRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveAddressServlet</display-name>
    <servlet-name>SaveAddressServlet</servlet-name>
    <servlet-class>com.gem.erhuo.web.SaveAddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveAddressServlet</servlet-name>
    <url-pattern>/SaveAddressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListHelpsServlet</display-name>
    <servlet-name>ListHelpsServlet</servlet-name>
    <servlet-class>com.gem.erhuo.web.ListHelpsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListHelpsServlet</servlet-name>
    <url-pattern>/ListHelpsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CollectionsServlet</display-name>
    <servlet-name>CollectionsServlet</servlet-name>
    <servlet-class>com.gem.erhuo.web.CollectionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CollectionsServlet</servlet-name>
    <url-pattern>/CollectionsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListRemarkServlet</display-name>
    <servlet-name>ListRemarkServlet</servlet-name>
    <servlet-class>com.gem.erhuo.web.ListRemarkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListRemarkServlet</servlet-name>
    <url-pattern>/ListRemarkServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCommentServlet</display-name>
    <servlet-name>AddCommentServlet</servlet-name>
    <servlet-class>com.gem.erhuo.web.AddCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCommentServlet</servlet-name>
    <url-pattern>/AddCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchGoodsServlet</display-name>
    <servlet-name>SearchGoodsServlet</servlet-name>
    <servlet-class>com.gem.erhuo.web.SearchGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchGoodsServlet</servlet-name>
    <url-pattern>/SearchGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMySellingServlet</display-name>
    <servlet-name>GetMySellingServlet</servlet-name>
    <servlet-class>com.gem.erhuo.web.GetMySellingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMySellingServlet</servlet-name>
    <url-pattern>/GetMySellingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMySoldServlet</display-name>
    <servlet-name>GetMySoldServlet</servlet-name>
    <servlet-class>com.gem.erhuo.web.GetMySoldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMySoldServlet</servlet-name>
    <url-pattern>/GetMySoldServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <description></description>
    <display-name>GetMyBoughtServlet</display-name>
    <servlet-name>GetMyBoughtServlet</servlet-name>
    <servlet-class>com.gem.erhuo.web.GetMyBoughtServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMyBoughtServlet</servlet-name>
    <url-pattern>/GetMyBoughtServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMyDonateServlet</display-name>
    <servlet-name>GetMyDonateServlet</servlet-name>
    <servlet-class>com.gem.erhuo.web.GetMyDonateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMyDonateServlet</servlet-name>
    <url-pattern>/GetMyDonateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetGoodServlet</display-name>
    <servlet-name>GetGoodServlet</servlet-name>
    <servlet-class>com.gem.erhuo.web.GetGoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetGoodServlet</servlet-name>
    <url-pattern>/GetGoodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>CommentRemarkServlet</display-name>
    <servlet-name>CommentRemarkServlet</servlet-name>
    <servlet-class>com.gem.erhuo.web.CommentRemarkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentRemarkServlet</servlet-name>
    <url-pattern>/CommentRemarkServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoanteServlet</display-name>
    <servlet-name>DoanteServlet</servlet-name>
    <servlet-class>com.gem.erhuo.web.DoanteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoanteServlet</servlet-name>
    <url-pattern>/DoanteServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>UpdateAddressServlet</display-name>
    <servlet-name>UpdateAddressServlet</servlet-name>
    <servlet-class>com.gem.erhuo.web.UpdateAddressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAddressServlet</servlet-name>
    <url-pattern>/UpdateAddressServlet</url-pattern>
  </servlet-mapping>



  </web-app>
