<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>secondHandShop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>com.gem.erhuo.web.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListUserServlet</display-name>
    <servlet-name>ListUserServlet</servlet-name>
    <servlet-class>com.gem.erhuo.web.ListUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUserServlet</servlet-name>
    <url-pattern>/ListUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>com.gem.erhuo.web.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.gem.erhuo.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListGoodsServlet</display-name>
    <servlet-name>ListGoodsServlet</servlet-name>
    <servlet-class>com.gem.erhuo.web.ListGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListGoodsServlet</servlet-name>
    <url-pattern>/ListGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.gem.erhuo.web.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>MyFilter</display-name>
    <filter-name>MyFilter</filter-name>
    <filter-class>com.gem.erhuo.util.MyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MyFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AddressListServlet</display-name>
    <servlet-name>AddressListServlet</servlet-name>
    <servlet-class>com.gem.erhuo.web.AddressListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddressListServlet</servlet-name>
    <url-pattern>/AddressListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListMarketsServlet</display-name>
    <servlet-name>ListMarketsServlet</servlet-name>
    <servlet-class>com.gem.erhuo.web.ListMarketsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListMarketsServlet</servlet-name>
    <url-pattern>/ListMarketsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddGoodServlet</display-name>
    <servlet-name>AddGoodServlet</servlet-name>
    <servlet-class>com.gem.erhuo.web.AddGoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGoodServlet</servlet-name>
    <url-pattern>/AddGoodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetGoodsImagesServlet</display-name>
    <servlet-name>GetGoodsImagesServlet</servlet-name>
    <servlet-class>com.gem.erhuo.web.GetGoodsImagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetGoodsImagesServlet</servlet-name>
    <url-pattern>/GetGoodsImagesServlet</url-pattern>
  </servlet-mapping>

</web-app>